{% extends 'admin/master.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="text-center py-5">
                <h1>Welcome to Events Calendar Admin</h1>
                <p class="lead">Manage your events, venues, and categories from this central dashboard.</p>
                <a href="{{ url_for('dashboard.index') }}" class="btn btn-primary btn-lg">
                    <i class="fa fa-dashboard"></i> Go to Dashboard
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %} 